<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <table>
            <thead>
                <tr>
                    <th>タイトル</th>
                    <th>通知日時</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <form action="/edit/{{ todo.todo_id }}/process" method="post">{% csrf_token %}
                        <td>
                            <input name="title" type="text" value="{{ todo.title }}">
                        </td>
                        <td>
                            <input name="remind_at" type="datetime-local" value="{{ todo.remind_at }}">
                        </td>
                        <td>
                            <input type="hidden" name="whatever" value="{{todo.todo_id}}">
                            <input type="hidden" name="created_at" value="{{todo.created_at}}">
                            <button type="submit">Update</button>
                        </td>
                    </form>
                </tr>
            </tbody>
        </table>

</body>
</html>