<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    {% load static %}	
    <script src="{% static 'todo/js/todo.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.9/push.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
     <!-- <link rel="stylesheet" href="{% static 'todo/js/todo.js' %}"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->

    <style>
        * {
        padding: 0px;
        margin: 0px; 
        background-color:rgb(0, 183, 255);}

        .box{
            width: 1600px;
            height: 100px;
            display: inline-block;
            vertical-align: top;
            /* background-color: aqua; */
            text-align: center;
            margin: 0 auto;
            padding-top: 50px;
        }
        .box_top{
            margin: 0 auto;
            padding-top: 10px;
            /* background-color: bisque; */
        }
        
    </style>

    <script>

        function dispText(){
            var time  = document.add.remind_at.value;
            console.log('入力した名前は' + time + 'です' );
            Push.create("設定時間に通知します");
        }

        var now = new Date();
        function LoadProc() {
            var target = document.getElementById("DateTimeDisp");

            var Year = now.getFullYear();
            var Month = now.getMonth()+1;
            var Date = now.getDate();
            var Hour = now.getHours();
            var Min = now.getMinutes();
            var Sec = now.getSeconds();

            var nowtime = (Year + "年" + Month + "月" + Date + "日" + Hour + ":" + Min + ":" + Sec);
            console.log(nowtime)
        }
        LoadProc();

        // const total_Time = 1000;
        // const oldTime = Date.now();

        // const timerId = setInterval(() => {
        //     const currentTime = Date.now();
        //     const diff = currentTime - oldTime;
        //     const remainMSec = total_Time - diff;
        //     const remainSec = Math.ceil(remainMSec / 50);

        //     let label = '残り' + remainSec;
        //     console.log(label);
        //     if (remainMSec <= 0){
        //         clearInterval(timerId);
        //         label = '終了';
        //     }
        //     console.log(label);
        // }, 1000);

        // const title = 'Timestamp Notification';
        // const options = {
        //     body: 'Timestamp is set to "01 Jan 2000 00:00:00".',
        //     timestamp: Date.parse('01 Jan 2000 00:00:00')
        // };
        // registration.showNotification(title, options);
    
        
    </script>

    

</head>
<body>

    <div class="box" name='Add'>
        <h2>Todo list</h2>
        <table class="box_top">
            <thead>
                <tr>
                    <th>タイトル</th>
                    <th>通知日時</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <form name="add" action="/addTodo" method="post">{% csrf_token %}
                        <td>
                            <input type="text" name="title">
                        </td>
                        <td>
                            <input type="datetime-local" name="remind_at">
                        </td>
                        <td>
                            <input type="submit" value="Add" onclick="dispText()">
                        </td>
                    </form>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="box" id="buttom" name = "lists">
        <h2>Todo lists</h2>
        <table class="box_top">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>作成日時</th>
                    <th>通知日時</th>
                    <th>アクション</th>
                </tr>
            </thead>
            <tbody>
            {% for todo in all_todo %}
            <tr>
                <td>{{ todo.title }}</td>
                <td>{{ todo.updated_at | date:"m月d日 H時:i分" }}</td>
                <td>{{ todo.remind_at | date:"m月d日 H時:i分"}}</td>
                <td>
                    <a href="/editTodo/{{ todo.todo_id }}">
                        <button type="button">Edit</button>
                    </a>  <form action="/deleteTodo/{{ todo.todo_id }}" 
                    style = "display: inline;"
                    method="post">{% csrf_token %}
                    <input type="submit" value="Delete">
                </form></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</body>
</html>