<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.7/push.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

</head>
<body>

    <div name='Add'>
        <h2>Making a list</h2>
        <table>
            <thead>
                <tr>
                    <th>タイトル</th>
                    <th>通知日時</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <form action="/addTodo" method="post">{% csrf_token %}
                        <td>
                            <input type="text" name="title">
                        </td>
                        <td>
                            <input type="datetime-local" name="remind_at">
                        </td>
                        <td>
                            <input type="submit" value="Add">
                        </td>
                    </form>
                </tr>
            </tbody>
        </table>
    </div>

    <div name = "lists">
        <h2>Todo lists</h2>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>作成日時</th>
                    <th>通知日時</th>
                    <th>アクション</th>
                </tr>
            </thead>
            <tbody>
            {% for todo in all_todo %}
            <tr>
                <td>{{ todo.title }}</td>
                <td>{{ todo.updated_at | date:"m月d日 H時:i分" }}</td>
                <td>{{ todo.remind_at | date:"m月d日 H時:i分"}}</td>
                <td>
                    <a href="/editTodo/{{ todo.todo_id }}">
                        <button type="button">Edit</button>
                    </a>  <form action="/deleteTodo/{{ todo.todo_id }}" 
                    style = "display: inline;"
                    method="post">{% csrf_token %}
                    <input type="submit" value="Delete">
                </form></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>




        <!-- <div id="app">
            {{ message }}
        </div>


        <script src="hello_vue.js"></script> -->
    
    </div>
</body>
</html>